.logo{
	margin-top: 0;
	width:150px;
	height: 150px;
	position:relative;

}
.list{
	width:90%;
	float:right;
	height: 150px;
	background-color: #EC6761  ;

}
.ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 25px;
	font-size: 30px;
	font-weight:bold;

}
.header{
	box-shadow: 10px 10px 5px 5px grey
}
.link{
	text-decoration: none;
	color:black;
	
}